<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css')}}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Home</a>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/new">Novo Paciente</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/list">Lista de pacientes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/tratamento">Tratamentos</a>
              </li>
              {% if session.Logged_in %}
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Log Out</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="/log">Login</a>
                </li>
                <li>
                  <a href="/register" class="nav-link">Registrar</a>
                </li>
              {% endif %}
             
            </ul>
          </div>
        </div>
      </nav>
      <br>
      <div class="container">
        {% include "includes/_messages.html" %}
      </div>
    {% block content %}{% endblock %}
</body>
</html>